.rectangle2 {
    -fx-background-color: #ffffff;
    -fx-min-height: 131px;
    -fx-max-height: 131px;
    -fx-min-width: 411px;
    -fx-max-width: 411px;
    -fx-background-radius: 6px;
    -fx-border-color: rgba(217, 217, 217, 0.5899999737739563);
    -fx-border-width: 1px;
    -fx-effect: dropshadow(0px 2px 4px rgba(0,0,0,0.25));
}
